<template>
    <div class="p-3 text-center px-12">
        <h1 class="md:text-6xl text-gray-800 text-5xl">Deine Job</h1>
        <h1 class="md:text-6xl text-gray-800  text-5xl">Website</h1>
        <img class="mx-auto mt-5" src="../assets/img/done.png">
    </div>
</template>

<script>
export default {

}
</script>
