<template>
  <div class="bg-white p-4 w-full shadow-costome">
    <button class="p-4 w-full bg-gradient-to-r from-green-400 to-blue-500 rounded-xl">Kostenlos Registrieren</button>
  </div>
</template>
