<template>
    <div class="bg-gradient-to-r from-green-400 to-blue-500 flex">
        <div class="shadow-costome p-5 bg-white flex w-screen mt-1">
            <button class="text-green-700 ml-auto font-medium">Login</button>
        </div>
    </div>
</template>

<script>
export default{

}
</script>
