<template>
  <div class="w-screen h-screen body">
    <app-header></app-header>
    <app-body></app-body>
    <app-footer></app-footer>
  </div>
</template>

<script>

import Header from "../components/Header.vue";
import Body from "../components/body.vue";
import Footer from "../components/Footer.vue";
import Style from "../assets/css/style.css";

export default {
  components: {
    appHeader: Header,
    appBody: Body,
    appFooter: Footer,
    appStyle: Style,
  },
};
</script>
